.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 80px;
    background-color: #F5F5F5;
    position: fixed;
    z-index: 1000;
    height: 178px;
    width: 100%;
}

.headerCollapsed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 30px;
    background-color: #F5F5F5;
    position: fixed;
    z-index: 1000;
    height: 69px;
    width: 100%;
}

.headerExtended {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 60px 20px 10px 30px;
    background-color: #F5F5F5;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.headerlabels {
    display: flex;
    gap: 46px;
}

.headerlabel {
    cursor: pointer;
    display: flex;
    align-items: center;    
}

.headerbox {
    display: flex;
    align-items: center;
    margin: 0 0 0 5px;
}

.headermenuIcon {
    display: none;
    cursor: pointer;
}

.headermenu {
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #F5F5F5;
    width: 100%;
    height: 0;
    min-height: 0;
    overflow: hidden;
    transition: min-height 0.3s ease;
}

.headermenu.headeropen {
    min-height: 100vh;
}

.headermenuContent {
    display: flex;
    flex-direction: column;
    height: 105%;
    gap: 20px;
    padding: 80px 30px 30px 30px;
}

.headerCollider {
    cursor: pointer;
    overflow: hidden;
}

.collapseContent {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out, padding 0.5s ease-out;
    overflow: hidden;
}

.expand {
    max-height: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 1;
}

.headerSubitem {
    padding: 5px 0;
    padding-left: 35px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.expand .headerSubitem {
    opacity: 1;
}

.headerclose {
    margin: -5px 0 0px;
}

@media (max-width: 768px) {
    .headerlabels {
        display: none;
    }

    .headermenuIcon {
        display: flex;
    }
}