.inputJoinTeam {
    color: rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 25px;
    max-width: 360px;
    height: 82px;
    margin: 0 0 21px;
}

.input {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.input:focus {
    border-color: #0070f3;
    outline: none;
}

@media (max-width: 768px) {
    .inputJoinTeam {
        max-width: 243px;
        height: 56px;
    }
}