.inputJoinTeam {
    color: rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 16px;
    max-width: 440px;
    height: 40px;
    margin: 0 0 21px;
    width: 100%;
    font-size: 20px;
}

.inputJoinTeam::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.inputJoinTeam:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
    box-shadow: 0 0 0 1000px #ffffff inset;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
}

.inputContactUsModule {
    color: white;
    background: rgba(255, 255, 255, 0.21);
    border: 1px solid white;
    border-radius: 4px;
    padding: 25px;
    max-width: 360px;
    height: 82px;
    margin: 0 0 21px;
    -webkit-text-fill-color: white;
    width: 100%;
    font-size: 20px;
}

.inputContactUsModule::placeholder {
    color: white;
}

.inputContactUsModule:-webkit-autofill,
.inputContactUsModule:-webkit-autofill:hover, 
.inputContactUsModule:-webkit-autofill:focus, 
.inputContactUsModule:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.21) inset !important;
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.21) inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

.inputContactUsHome {
    color: rgba(0, 0, 0, 0.50);
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 25px;
    max-width: 360px;
    height: 82px;
    margin: 0 0 21px;
    width: 100%;
    font-size: 20px;
}

.inputContactUsHome::placeholder {
    color: rgba(0, 0, 0, 0.50);
}

.inputContactUsHome:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset;
    box-shadow: 0 0 0 1000px #FFFFFF inset;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.50);
}

.input:focus {
    border-color: #0070f3;
    outline: none;
}

.fileInputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 440px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 20px;
    background-color: #ffffff;
    text-align: center;
    transition: background-color 0.3s ease;
}

.fileLabel {
    cursor: pointer;
    padding: 20px 106px;
}

.fileText1 {
    text-align: center;
}

.fileText2 {
    text-align: center;
}

.fileText3 {
    text-align: center;
}

.filePlaceholder {
    margin: 0 0 5px 32px;
}

.fileInputContainer:hover {
    background-color: #e0e0e0;
}

.fileInput {
    display: none;
}

.filePreview {
    padding: 12px 16px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #F5F5F5;
}

.fileItem {
    margin: 0 0 0 12px;
}

.filePreview ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.filePreview li {
    margin-bottom: 5px;
}

.fileContainer1 {
    display: flex;
    align-items: center;
}

.fileContainer2 {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.customSelect {
    position: relative;
    display: inline-block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("/images/about-us/main/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 16px;
    padding-right: 30px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
}

.customSelect option {
    background: #D9D9D9;
}

@media (max-width: 768px) {
    .inputJoinTeam {
        max-width: 243px;
    }

    .inputContactUsHome {
        max-width: 243px;
        height: 56px;
        font-size: 14px;
        padding: 25px 17px;
    }

    .inputContactUsModule {
        max-width: 243px;
        height: 56px;
    }
}