.inputJoinTeam {
    color: rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 16px;
    max-width: 360px;
    height: 40px;
    margin: 0 0 21px;
}

.inputJoinTeam::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.inputJoinTeam:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
    box-shadow: 0 0 0 1000px #ffffff inset;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
}

.inputContactUsModule {
    color: white;
    background: rgba(255, 255, 255, 0.21);
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 25px;
    max-width: 360px;
    height: 82px;
    margin: 0 0 21px;
    -webkit-text-fill-color: white;
}

.inputContactUsModule::placeholder {
    color: white;
}

.inputContactUsModule:-webkit-autofill,
.inputContactUsModule:-webkit-autofill:hover, 
.inputContactUsModule:-webkit-autofill:focus, 
.inputContactUsModule:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.21) inset !important;
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.21) inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

.inputContactUsHome {
    color: rgba(0, 0, 0, 0.50);
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 25px;
    max-width: 360px;
    height: 82px;
    margin: 0 0 21px;
}

.inputContactUsHome::placeholder {
    color: rgba(0, 0, 0, 0.50);
}

.inputContactUsHome:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset;
    box-shadow: 0 0 0 1000px #FFFFFF inset;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.50);
}

.input {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.input:focus {
    border-color: #0070f3;
    outline: none;
}

.fileInputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 360px;
    border: 1px dashed #000;
    border-radius: 12px;
    cursor: pointer;
    background-color: #f5f5f5;
    text-align: center;
    transition: background-color 0.3s ease;
}

.fileLabel {
    padding: 20px 50px;
}

.fileText1 {
    text-align: center;
}

.fileText2 {
    text-align: center;
}

.fileText3 {
    text-align: center;
}

.filePlaceholder {
    margin: 0 0 5px;
}

.fileInputContainer:hover {
    background-color: #e0e0e0;
}

.fileInput {
    display: none;
}

.filePreview {
    padding: 12px 16px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #F5F5F5;
}

.fileItem {
    margin: 0 0 0 12px;
}

.filePreview ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.filePreview li {
    margin-bottom: 5px;
}

.fileContainer1 {
    display: flex;
    align-items: center;
}

.fileContainer2 {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.customSelect {
    position: relative;
    display: inline-block;
    width: 100%;
}

.customSelect select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2217%22%20viewBox%3D%220%200%2016%2017%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M13.1431%204.01702L2.85706%204.01702C2.75292%204.01741%202.65084%204.05194%202.56181%204.11689C2.47278%204.18183%202.40017%204.27474%202.3518%204.3856C2.30342%204.49646%202.28111%204.62109%202.28728%204.74606C2.29344%204.87103%202.32783%204.99161%202.38677%205.09483L7.52977%2014.025C7.74292%2014.3953%208.25607%2014.3953%208.46979%2014.025L13.6128%205.09483C13.6723%204.99183%2013.7072%204.87118%2013.7137%204.74601C13.7202%204.62083%2013.6981%204.4959%2013.6496%204.3848C13.6012%204.27371%2013.5284%204.18068%2013.4391%204.11584C13.3498%204.051%2013.2474%204.01682%2013.1431%204.01702Z%22%20fill%3D%22%23464545%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 40px;
}

.customSelect select:focus {
    border-color: #0070f3;
    outline: none;
}

@media (max-width: 768px) {
    .inputJoinTeam {
        max-width: 243px;
    }

    .inputContactUsHome {
        max-width: 243px;
        height: 56px;
    }

    .inputContactUsModule {
        max-width: 243px;
        height: 56px;
    }
}