.background {
    width: 100%;
    max-width: 100%;
    padding: 178px 0 0;
}

.background :global(img) {
    display: block;
}

@media (max-width: 768px) {
    .background {
        padding: 69px 0 0;
    }
}