.background {
    position: relative;
    padding: 253px 40px 161px;
}

.wrapper {
    max-width: 1111px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container1 {
    max-width: 528px;
    width: 100%
}

.container2 {
    max-width: 270px;
    width: 100%;
}

.text {
    margin: 0 0 50px;
    text-align: end;
}

.text1 {
    line-height: 55.2px;
}

.text:last-child {
    margin: 0;
}

.title {
    margin: 0 0 10px;
}

@media (max-width: 768px) {
    .background {
        padding: 77px 20px 100px;
    }

    .wrapper {
        flex-direction: column;
    }

    .container1 {
        max-width: 291px;
        margin: 0 0 100px;
        display: flex;
        flex-direction: column;
    }

    .container2 {
        max-width: 151px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 auto;
        text-align: end;
    }

    .text {
        margin: 0 0 20px;
    }

    .title {
        margin: 0 0 20px;
    }

    .img {
        position: absolute;
        left: 0;
        top: 60%;
    }
}