.background {
    padding: 204px 40px;
    background-color: #E5E5E5;
}

.wrapper {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

.container {
    margin: 140px 0 399px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.titleContainer {
    max-width: 672px;
    width: 100%;
    text-align: center;
    margin: 0 auto 60px;
}

.title {
    line-height: 45.6px;
    text-align: center;
}

.logo {
    margin: 0 0 0 -30px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.descriptionContainer {
    max-width: 475px;
    width: 100%;
}

.textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 146px;
}

.text {
    max-width: 416px;
    width: 100%;
}

@media (max-width: 768px) {

    .background {
        padding: 50px 0;
    }

    .title {
        line-height: 19px;
    }

    .container {
        margin: 40px 0 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin: 0 0 15px -10px;
    }

    .titleContainer {
        margin: 0 auto 20px;
        max-width: 311px;
        width: 100%;
    }

    .descriptionContainer {
        max-width: 245px;
        width: 100%;
    }

    .text {
        max-width: 156px;
        width: 100%;
    }
}