.background {
    position: relative;
    padding: 0 0 297px;
}

.wrapper {
    max-width: 1014px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.titleContainer {
    margin: 432px 0 50px;
}

.description1Container {
    max-width: 278px;
    width: 100%;
    margin: 0 0 50px;
}

.description2Container {
    max-width: 278px;
    width: 100%;
    margin: 0 0 50px;
}

.description3Container {
    max-width: 278px;
    width: 100%;
}

.img {
    width: 671px;
    height: 633px;
}

@media (max-width: 920px) {
    .img {
        width: 500px;
        height: 480px;
    }
}

@media (max-width: 768px) {

    .background {
        padding: 0 20px 56px;
    }

    .wrapper {
        width: 100%;
    }

    .titleContainer {
        margin: 120px 0 24px;
    }

    .description1Container {
        max-width: 130px;
        margin: 0 0 37px;
        line-height: 15.469px;
    }

    .description2Container {
        max-width: 130px;
        margin: 0 0 37px;
        line-height: 15.469px;
    }
    
    .description3Container {
        max-width: 130px;
        line-height: 15.469px;
    }

    .img {
        width: 178px;
        height: 168px;
    }
}