.wrapper {
    opacity: 0;
    animation-fill-mode: both;
}

.speed1s {
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.speed02s {
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.speed05s {
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.visible {
    opacity: 1;
}


.fadeinuplarge {
    transform: translateY(200px);
}

.fadeinuplarge.visible {
    transform: translateY(0);
}

.fadeindownlarge {
    transform: translateY(-200px);
}

.fadeindownlarge.visible {
    transform: translateY(0);
}

.fadeinrightlarge {
    transform: translateX(-200px);
}

.fadeinrightlarge.visible {
    transform: translateX(0);
}

.fadeinleftlarge {
    transform: translateX(200px);
}

.fadeinleftlarge.visible {
    transform: translateX(0);
}

.fadeinupbig {
    transform: translateY(100px);
}

.fadeinupbig.visible {
    transform: translateY(0);
}

.fadeindownbig {
    transform: translateY(-100px);
}

.fadeindownbig.visible {
    transform: translateY(0);
}

.fadeinrightbig {
    transform: translateX(-100px);
}

.fadeinrightbig.visible {
    transform: translateX(0);
}

.fadeinleftbig {
    transform: translateX(100px);
}

.fadeinleftbig.visible {
    transform: translateX(0);
}

.fadeinupnormal {
    transform: translateY(50px);
}

.fadeinupnormal.visible {
    transform: translateY(0);
}

.fadeindownnormal {
    transform: translateY(-50px);
}

.fadeindownnormal.visible {
    transform: translateY(0);
}

.fadeinrightnormal {
    transform: translateX(-50px);
}

.fadeinrightnormal.visible {
    transform: translateX(0);
}

.fadeinleftnormal {
    transform: translateX(50px);
}

.fadeinleftnormal.visible {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .fadeinuplarge {
        transform: translateY(100px);
    }
    
    .fadeinuplarge.visible {
        transform: translateY(0);
    }
    
    .fadeindownlarge {
        transform: translateY(-100px);
    }
    
    .fadeindownlarge.visible {
        transform: translateY(0);
    }
    
    .fadeinrightlarge {
        transform: translateX(-100px);
    }
    
    .fadeinrightlarge.visible {
        transform: translateX(0);
    }
    
    .fadeinleftlarge {
        transform: translateX(100px);
    }
    
    .fadeinleftlarge.visible {
        transform: translateX(0);
    }

    .fadeinupbig {
        transform: translateY(10px);
    }
    
    .fadeinupbig.visible {
        transform: translateY(0);
    }
    
    .fadeindownbig {
        transform: translateY(-10px);
    }
    
    .fadeindownbig.visible {
        transform: translateY(0);
    }
    
    .fadeinrightbig {
        transform: translateX(-10px);
    }
    
    .fadeinrightbig.visible {
        transform: translateX(0);
    }
    
    .fadeinleftbig {
        transform: translateX(10px);
    }
    
    .fadeinleftbig.visible {
        transform: translateX(0);
    }
    
    .fadeinupnormal {
        transform: translateY(10px);
    }
    
    .fadeinupnormal.visible {
        transform: translateY(0);
    }
    
    .fadeindownnormal {
        transform: translateY(-10px);
    }
    
    .fadeindownnormal.visible {
        transform: translateY(0);
    }
    
    .fadeinrightnormal {
        transform: translateX(-10px);
    }
    
    .fadeinrightnormal.visible {
        transform: translateX(0);
    }
    
    .fadeinleftnormal {
        transform: translateX(10px);
    }
    
    .fadeinleftnormal.visible {
        transform: translateX(0);
    }
}