.background {
    position: relative;
    overflow: hidden;
}

.wrapper1 {
    background-color: #E5E5E5;
}

.wrapper2 {
    background-color: #FFFFFF;
}

.container1 {
    padding: 289px 0;
    margin: 0 auto;
    max-width: 986px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container2 {
    padding: 297px 0;
    margin: 0 auto;
    max-width: 986px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.titleContainer {
    margin: 0 0 20px;
    max-width: 448px;
    width: 100%;
}

.subtitleContainer {
    margin: 0 20px 0 0;
    max-width: 589px;
    width: 100%;
}

.description1Container {
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.img {
    position: absolute;
    top: 38%;
    left: 0;
}

@media (max-width: 768px) {
    .container1 {
        padding: 89px 0;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 281px;
    }

    .container2 {
        padding: 117px 0;
        max-width: 265px;
    }

    .img {
        position: absolute;
        right: 0;
    }
}