.background {
    background: #FFFFFF;
    padding: 112px 40px 0;
}

.wrapper {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

.container {
    margin: 140px 0 150px;
    display: flex;
    align-items: center;
}

.titleContainer {
    max-width: 322px;
    width: 100%;
}

.title {
    line-height: 45.6px;
}

.title1 {
    line-height: 14.25px;
    margin: 0 0 25px;
}

.logo {
    margin: 0 0 0 -30px;
}

.descriptionContainer {
    max-width: 475px;
    width: 100%;
}

.textContent {
    display: flex;
    align-items: center;
    margin: 0 0 146px;
}

.textContent:last-child {
    margin: 0 0 416px;
}

.textTitle {
    max-width: 380px;
    width: 100%;
    line-height: 28.125px;
    letter-spacing: 2px;
}

.text {
    width: 100%;
    line-height: 28.125px;
}

.background2 {
    width: 100%;
    max-width: 100%;
    padding: 112px 0 0;
}

.background2 :global(img) {
    display: block;
}

.content {
    max-width: 498px;
    width: 100%;
    margin: 0 0 0 188px;
}

@media (max-width: 920px) {
    .content {
        margin: 0 0 0 50px;
    }
}

@media (max-width: 768px) {

    .background {
        padding: 69px 40px 0;
    }

    .background2 {
        padding: 69px 0 0;
    }

    .title {
        line-height: 19px;
    }

    .title1 {
        line-height: 19px;
    }

    .container {
        margin: 40px 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin: 0 0 15px -10px;
    }

    .titleContainer {
        margin: 0 0 20px;
        max-width: 220px;
        width: 100%;
    }

    .descriptionContainer {
        max-width: 245px;
        width: 100%;
    }

    .textTitle {
        max-width: 156px;
        width: 100%;
    }

    .text {
        max-width: 156px;
        width: 100%;
        line-height: 15.469px;
    }

    .content {
        margin: 100px 0 0 41px;
    }

    .textContent {
        margin: 0 0 80px;
    }
}