.background {
    background: #B4B3B3;
    padding: 293px 40px 212px;
}

.wrapper {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.titleContainer {
    max-width: 489px;
    width: 100%;
    margin: 0 0 20px;
    text-align: end;
}

.descriptionContainer {
    max-width: 489px;
    width: 100%;
    text-align: end;
}

.container2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 100px 0 0;
}

@media (max-width: 768px) {

    .background {
        padding: 70px 40px;
    }

    .container {
        margin: 0 0 10px;
    }

    .container2 {
        flex-direction: column;
        align-items: flex-end;
        max-width: 248px;
        width: 100%;
        margin: 0 0 10px auto;
    }

    .titleContainer {
        margin: 0;
    }

    .descriptionContainer {
        line-height: 15.469px;
        margin: 0 0 20px;
    }
}