.background {
    background: #B4B3B3;
    padding: 283px 40px 385px;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 0 134px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.titleContainer {
    max-width: 500;
    width: 100%;
    margin: 0 0 20px;
}

.descriptionContainer {
    max-width: 489px;
    width: 100%;
}

.container2 {
    display: flex;
    width: 100%;
    margin: 40px 0 0;
    justify-content: flex-end;
}

@media (max-width: 768px) {

    .background {
        padding: 70px 40px;
    }

    .wrapper {
        margin: 0 auto;
    }

    .container {
        margin: 0 0 10px;
    }

    .container2 {
        flex-direction: column;
        max-width: 248px;
        width: 100%;
        margin: 0;
    }

    .titleContainer {
        margin: 0;
    }

    .descriptionContainer {
        line-height: 15.469px;
        margin: 0 0 20px;
    }

    .descriptionContainer p {
        line-height: 15.469px;
    }
}