.background {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.wrapper {
    padding: 246px 80px 180px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.containerLeft1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.containerLeft2 {
    max-width: 365px;
    width: 100%;
    margin: 0 0 -70px 50px;
}

.containerLeft3 {
    display: flex;
    flex-direction: column;
}

.textLeft1 {
    margin: 0 0 50px;
}

.textLeft2 {
    margin: 40px 0 0;
    letter-spacing: 1.2px;
    line-height: 23.4px;
}

.textLeft3 {
    margin: 0 0 60px;
    letter-spacing: 1.2px;
    line-height: 23.4px;
}

.imgLeft1 {
    position: relative;
    z-index: 1;
}

.imgLeft2 {
    position: absolute;
    top: 0;
    height: 413px;
    right: -115px;
}

@media (max-width: 768px) {
    .wrapper {
        padding: 218px 38px 125px;
        max-width: 360px;
    }

    .containerLeft1 {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .containerLeft2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 197px;
        margin: 0 0 0 auto;
    }

    .textLeft1 {
        margin: 0 0 20px;
    }

    .textLeft2 {
        margin: 0 0 60px;
    }

    .imgLeft1 {
        margin: 0 30px 28px 0;
    }

    .imgLeft2 {
        height: 134px;
        right: -40px;
        top: 100px;
    }
}