.background {
    background-color: #FFFFFF;
    padding: 304px 50px 483px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
}

.anchor2 {
    height: 90px;
}

.infoContainer {
    margin: 0 auto 113px;
    max-width: 774px;
    width: 100%;
}

.buttonContainer {
    display: flex;
    margin: 55px 0 0 0;
}

.title {
    display: block;
    max-width: 350px;
    width: 100%;
    margin: 0;
    line-height: 50.88px;
}

.imgContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    opacity: 1;
}

@media (max-width: 768px) {
    .background {
        padding: 69px 44px 72px;
    }

    .wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .title {
        max-width: 150px;
        width: 100%;
        margin: 53px 0 0;
    }

    .infoContainer {
        margin: 0;
        padding: 55px 0 0;
    }

    .buttonContainer {
        margin: 55px 0 0 0px;
    }

    .title {
        margin: 0 0 0 0px;
    }
}
