.background {
    background-image: url('/images/home/welcome/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 178px 40px 0;
    height: 868px;
    display: flex;
    align-items: center;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
}

.title {
    max-width: 555px;
    width: 100%;
    display: block;
    line-height: 34px;
}

@media (max-width: 768px) {
    .background {
        height: 503px;
        padding: 69px 20px 0;
    }

    .title {
        max-width: 300px;
        line-height: 23px;
    }
}